
.calendar-container {
    display: flex;
    flex-direction: row;
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    flex-wrap: wrap;
}

.dueDate-exceeded{
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: darkred;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.calendar-grid {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.calendar-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 20%;
    min-height: 100px;
    max-height: 100%;
    max-width: 205px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    margin: 5px;
}

.current-month-day {
    font-weight: bold;
}

h2 {
    text-align: center;
    margin: 0;
}

.task {
    display: flex;
    align-items: center;
    margin-top: 5px;
    max-width: 100%;
}

.task img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.task-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 100%;
}

.past-day {
    background-color: #f5f5f5;
}

.current-day {
    display: flex;
    flex-direction: column;
    flex: 20%;
    max-width: 185px;
    position: relative;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
}

@media (max-width: 768px) {
    .calendar-day{
        flex: 40%;
    }
}
