@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
}

.vaidation{
    color: red;
    font-size: 13px;
}

.add-task{
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
}

.add-task-submit {
    background-color: #4caf50;
    color: #ffffff;
    align-self: center;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 16px;
}

.add-task-submit:hover {
    background-color: #45a049;
}


.star-rating {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    font-size: 24px;
    cursor: pointer;
    color: #ccc;
}

.star-rating input[type="radio"]:checked ~ label {
    color: #ffcc00;
}


.add-task-form {
    display: flex;
    position: absolute;
    width: 100%;
    flex-direction: column;
    top: 50px;
    background-color: #f8f8f8;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

.custom-select {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
    margin: 10px 0;
    font-family: 'Merriweather', serif;
}

.close-button {
    background-color: #ff4d4d;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 16px;
}

.close-button:hover {
    background-color: #ff3333;
}

.add-task-form h1 {
    font-size: 20px;
    margin-bottom: 16px;
}

.add-task-form select,
.add-task-form input[type="text"],
.add-task-form input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.add-task-form select {
    height: 40px;
}

.add-task-form input[type="date"] {
    height: 40px;
}

.add-task-form input[type="text"]::placeholder,
.add-task-form input[type="date"]::placeholder {
    color: #ccc;
}


.add-task {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin: 10px;
}

.add-task:hover {
    background-color: #45a049;
}

.flex-row-spacebetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 65%;
}

.user,
.task,
.status,
.due-date,
.priority {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.horizontal-line {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 8px 0;
}

.vertical-line {
    width: 1px;
    height: 100%;
    background-color: #ccc;
    margin: 0 10px;
}

.profile-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.priority h2 {
    color: #f39c12;
    margin: 0;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    margin: 0;
}

@media (max-width: 768px) {
    .flex-row-spacebetween {
        flex-direction: column;
    }
    .vertical-line {
        display: none;
    }
}
